/*
 * === FONTS ===
*/

/* @font-face {
  font-family: ...;
  font-display: fallback;
  font-style: normal;
  font-weight: var(--font-weight-book);
  src: url('/fonts/****.woff2') format('woff2'), url('/fonts/****.woff') format('woff');
}
 */
