/*
 * === GRID ===
*/

.grid {
  display: grid;
  grid-gap: var(--spacing-32);
}

@media (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
 * — Grid items —
*/

@media (max-width: 479px) {
  .grid__item {
    margin-bottom: var(--spacing-24);
    width: 100%;
  }
}
